<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
       <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody class="content">
    <tr *ngFor="let item of res.data">
      <th scope="row">{{item.id}}</th>
      <td >{{item.title}}</td>
      <td style="white-space: pre-line;">{{item.content}}</td>
      <td><button (click)="GetcontentById(item.id)" type="submit" class="btn btn-info">Details</button></td>
    </tr>
  </tbody>
</table>
